{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add your other head elements as needed -->
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
{% include 'navbar.html' %}
<body>
 

    <!--================Header Menu Area =================-->
    <div class="login-page">
        <div class="form">
          <div class="login">
            <div class="login-header">
              <h3>LOGIN</h3>
              <p>Please enter your credentials to login.</p>
            </div>
          </div>
          <form class="login-form" method= 'post'>
            {% csrf_token %}

            <input type="text" placeholder="username" name="username_l"/>
            <input type="password" placeholder="password" name="password_l"/>
            <button>login</button>
            <p class="message">Not registered? <a href="{% url "register" %}">Create an account</a></p>
          </form>
        </div>
      </div>
</body>

</html>
