
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add your other head elements as needed -->
    <link rel="stylesheet" href="{% static "css/login.css" %}">

</head>
{% include 'navbar.html' %}
<body>
   <div class=" msize">
<b>Your Order Has Been Confirmed
    <br>
<a href="{% url "index" %}">Back to Home</a></b>
</div>
</body>
</html>